<header>
  <!-- Top navigation -->
  <nav id="top-nav">
    <div class="container">
      <div class="actions">
        <a href="login.html" class="login">Iniciar sesión</a>
        <a href="signup.html" class="signup">Crear cuenta</a>
      </div>
    </div>
  </nav>

  <!-- Main navigation -->
  <nav id="main-nav">
    <div class="container">
      <div class="content">
        <a href="index.html"
          ><img class="Logo" src="/images/Logo.png" alt="logo fullstock"
        /></a>
        <nav class="nav">
          <!-- Productos NAV -->
          <a href="categories.html" class="navItem">Polos</a>
          <h2 class="navItem">Tazas</h2>
          <h2 class="navItem">Stickers</h2>
          <h2 class="navItem">Compañia</h2>
        </nav>

        <!-- botones derecha -->
        <h2 id="frame9">
          <div class="frame8">
            <a class="Button-Search">
              <img
                class="button-search"
                src="/images/Button-Search.png"
                alt="button search"
              />
            </a>
            <a href="login.html" class="Button-login">
              <img
                class="button login"
                src="/images/Button-login.png"
                alt="button login"
              />
            </a>
          </div>
          <div class="vector1">|</div>
          <a href="cart.html" class="button">
            <img
              class="shooping-cart"
              src="/images/Button-shop.png"
              alt="boton de carrito de compras"
            />
          </a>
        </h2>
      </div>
    </div>
  </nav>
</header>
<section class="Checkout">
  <div class="content">
    <!-- contact information -->
    <div class="frame42">
      <h2 class="frame42-h2">Información de contacto</h2>
      <form action="" method="post" class="emailContact">
        <label for="emailContact">Correo electrónico</label>
        <input
          type="email"
          id="emailContact"
          name="email"
          class="email-input"
          required
        />
      </form>
      <br />
      <hr />
      <br />
      <!-- shipment information -->
      <h2 class="frame56-h2">Información de envío</h2>
      <div class="frame56">
        <form action="" method="post" class="shipmentInfo">
          <!-- Name and last name -->
          <div class="frame54">
            <label for="Name">Nombre</label>
            <input type="text" id="Name" name="Name" required />

            <label for="lastName">Apellido</label>
            <input type="text" id="lastName" name="lastName" required />
          </div>

          <!-- company -->
          <label for="company">compañia</label>
          <input type="text" id="company" name="company" />

          <!-- direction -->
          <label for="address">Dirección</label>
          <input type="text" id="address" name="address" required />

          <!-- Ciudad y Pais -->
          <div class="frame57">
            <label for="city">Ciudad</label>
            <input type="text" id="city" name="city" required />

            <label for="country">País</label>
            <input type="text" id="country" name="country" required />
          </div>

          <!-- Provincia/estado y Código postal -->
          <div class="frame57">
            <label for="state">Provincia/Estado</label>
            <input type="text" id="state" name="state" required />

            <label for="postalCode">Código postal</label>
            <input type="number" id="postalCode" name="postalCode" required />
          </div>

          <!-- phone -->
          <label for="phone" class="phone">Teléfono</label>
          <input
            type="phone"
            id="phone"
            name="phone"
            class="phone-input"
            required
          />
        </form>
      </div>

      <!-- confirm order button -->
      <a href="thanks.html">
        <button type="submit">Confirmar Orden</button>
      </a>
    </div>
    <!-- purchase order -->
    <div class="frame43">
      <h2 class="frame43-h2">Resumen de la orden</h2>
      <div class="frame60">
        <!-- polo react -->
        <div class="summaryItem">
          <img src="/images/PoloReact.png" alt="polo react" />
          <div class="frame65">
            <h2 class="frame65-h2">Polo React</h2>
            <div class="frame71">
              <p class="frame71-parr">1</p>
              <p class="frame71-parr">x</p>
              <p class="frame71-parr">$20.00</p>
            </div>
          </div>
        </div>

        <!-- polo Javascript -->
        <div class="summaryItem">
          <img src="/images/PoloJS.png" alt="polo Javascript" />
          <div class="frame65">
            <h2 class="frame65-h2">Polo Javascript</h2>
            <div class="frame71">
              <p class="frame71-parr">1</p>
              <p class="frame71-parr">x</p>
              <p class="frame71-parr">$20.00</p>
            </div>
          </div>
        </div>

        <!-- polo frontend developer -->
        <div class="summaryItem">
          <img src="/images/PoloFront.png" alt="polo frontend" />
          <div class="frame65">
            <h2 class="frame65-h2">Polo Frontend Developer</h2>
            <div class="frame71">
              <p class="frame71-parr">1</p>
              <p class="frame71-parr">x</p>
              <p class="frame71-parr">$25.00</p>
            </div>
          </div>
        </div>

        <!-- Total to pay -->
        <div class="frame67">
          <p class="frame67-parr">Total</p>
          <p class="frame67-parr">$65.00</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
<footer class="Footer">
  <div class="content">
    <div class="frame10">
      <div class="frame24">
        <!-- Tienda -->
        <div class="frame16">
          <h2 class="tienda">Tienda</h2>
          <div class="frame20">
            <h2 class="polos">Polos</h2>
            <h2 class="tazas">Tazas</h2>
            <h2 class="stickers">Stickers</h2>
          </div>
        </div>

        <!-- Compañía -->
        <div class="frame16">
          <h2 class="compania">Compañía</h2>
          <div class="frame20">
            <h2 class="quienes-somos">Quiénes somos</h2>
            <h2 class="terminos-condiciones">Términos y condiciones</h2>
            <h2 class="privacidad">Privacidad</h2>
          </div>
        </div>

        <!-- Conecta -->
        <div class="frame17">
          <h2 class="conecta">Conecta</h2>
          <div class="frame20">
            <h2 class="contactanos">Contáctanos</h2>
            <h2 class="facebook">Facebook</h2>
            <h2 class="instagram">Instagram</h2>
          </div>
        </div>
      </div>

      <!-- Suscripción -->
      <div class="frame21">
        <h2 class="suscribete">Suscríbete a nuestro boletín</h2>
        <p class="ultimas-ofertas">
          Recibe las últimas ofertas y descuentos en tu correo semanalmente.
        </p>
        <form class="frame23" action="subscribirse" method="post">
          <input class="input email" type="email" name="email" />
          <button class="subscribirse butt" type="submit">Subscribirse</button>
        </form>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <p class="copyright">Todos los derechos reservados © Full Stock</p>
  </div>
</footer>
