:root {
 /* Colores base */
  --white: hsl(0deg 0% 100%);
  --black: hsl(0deg 0% 0%);
  --black-a7: hsl(0deg 0% 0% / 50%);

  /* color iris */
  --accent-1: hsl(240deg 100% 99%);
  --accent-2: hsl(240deg 100% 97%);
  --accent-3: hsl(236deg 86% 97%);
  --accent-4: hsl(240deg 100% 95%);
  --accent-5: hsl(240deg 100% 93%);
  --accent-6: hsl(240deg 100% 90%);
  --accent-7: hsl(238deg 81% 86%);
  --accent-8: hsl(238deg 77% 77%);
  --accent-9: hsl(240deg 60% 60%);
  --accent-10: hsl(240deg 47% 55%);
  --accent-11: hsl(243deg 42% 55%);
  --accent-12: hsl(237deg 44% 27%);

  --accent-a1: hsl(240deg 100% 50% / 1%);
  --accent-a2: hsl(240deg 100% 50% / 3%);
  --accent-a3: hsl(237deg 87% 47% / 6%);
  --accent-a4: hsl(240deg 100% 50% / 10%);
  --accent-a5: hsl(240deg 100% 50% / 15%);
  --accent-a6: hsl(240deg 100% 50% / 20%);
  --accent-a7: hsl(238deg 81% 45% / 28%);
  --accent-a8: hsl(238deg 77% 43% / 39%);
  --accent-a9: hsl(240deg 51% 38% / 64%);
  --accent-a10: hsl(240deg 47% 35% / 68%);
  --accent-a11: hsl(243deg 42% 34% / 67%);
  --accent-a12: hsl(237deg 44% 14% / 85%);
  --accent-contrast: var(--white);

  /* color gris */
  --neutral-1: hsl(240deg 14% 99%);
  --neutral-2: hsl(240deg 11% 98%);
  --neutral-3: hsl(240deg 8% 95%);
  --neutral-4: hsl(220deg 6% 92%);
  --neutral-5: hsl(228deg 10% 91%);
  --neutral-6: hsl(240deg 8% 87%);
  --neutral-7: hsl(228deg 7% 82%);
  --neutral-8: hsl(230deg 8% 74%);
  --neutral-9: hsl(231deg 6% 56%);
  --neutral-10: hsl(220deg 6% 52%);
  --neutral-11: hsl(220deg 6% 40%);
  --neutral-12: hsl(210deg 15% 13%);

  --neutral-a1: hsl(240deg 100% 33% / 1%);
  --neutral-a2: hsl(240deg 100% 33% / 2%);
  --neutral-a3: hsl(220deg 100% 20% / 6%);
  --neutral-a4: hsl(220deg 100% 18% / 9%);
  --neutral-a5: hsl(228deg 100% 20% / 12%);
  --neutral-a6: hsl(240deg 100% 18% / 15%);
  --neutral-a7: hsl(228deg 100% 18% / 20%);
  --neutral-a8: hsl(230deg 100% 19% / 27%);
  --neutral-a9: hsl(231deg 100% 13% / 45%);
  --neutral-a10: hsl(220deg 100% 11% / 50%);
  --neutral-a11: hsl(220deg 100% 8% / 62%);
  --neutral-a12: hsl(210deg 100% 4% / 89%);
  --neutral-contrast: var(--white);

 /* Tokens de color */
  --background: var(--white);
  --foreground: var(--neutral-12);
  --accent-background: var(--accent-3);
  --accent-foreground: var(--accent-11);
  --muted-background: var(--neutral-a2);
  --muted-foreground: var(--neutral-11);
  --primary-background: var(--accent-9);
  --primary-foreground: var(--accent-contrast);
  --secondary-background: var(--neutral-3);
  --secondary-foreground: var(--neutral-11);
  --border: var(--neutral-7);
  --outline: var(--blue-9);
  --separator: var(--gray-6);
  --primary-background-hover: var(--accent-10);
  --secondary-background-hover: var(--neutral-4);
  --border-hover: var(--neutral-8);
}



 
